.logo_container {
    display: flex;
  }
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .LogoName {
    font-family: monospace;
    align-self: center;
    margin-left: 5px;
    font-size: 30px;
    color: #2e266f;
  }